
<tr>
  <td>#</td>
  <td><%= link_to(group.title, group_path(group), class: "btn btn-primary") %></td>
  <td><%= render_group_description(group) %></td>
  <% if current_user && current_user == group.user %>
  <td>
     <%= link_to("Edit", edit_group_path(group),:class => "btn btn-danger" ) %>
     <%= link_to("Delete", group_path(group),  class: "btn btn-success", method: :delete, data: {confirm: "Are you sure?"}) %>

  </td>
  <% else %>
  <td></td>
  <% end %>
  <td><%= group.user.email  %></td>
</tr>
