
<div class="">
  <%= link_to("Add a group", new_group_path, class: "btn pull-right", style: "color:red;background-color:green") %>
</div>

<table class="col-md-12 table tabel-hover">
  <thead class="">
    <tr>
      <td>#</td>
      <td>Title </td>
      <td>Description</td>

      <td>管理菜单</td>

      <td>所有者</td>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>

    <tr>
      <td>#</td>
      <td><%= link_to(group.title, group_path(group), class: "btn btn-primary") %></td>
      <td><%= render_group_description(group) %></td>
      <% if current_user && current_user == group.user %>
      <td>
         <%= link_to("Edit", edit_group_path(group),:class => "btn btn-danger" ) %>
         <%= link_to("Delete", group_path(group),  class: "btn btn-success", method: :delete, data: {confirm: "Are you sure?"}) %>

      </td>
      <% else %>
      <td></td>
      <% end %>
      <td><%= group.user.email  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
