<!DOCTYPE html>
<html>
  <head>
    <title>Rails104</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="">
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
    <div style="min-height:600px">
      <%= yield %>
    </div>
    </div>
      <%= render "common/footer" %>

  </body>
</html>
